.slider {
  width: 100%;
  position: relative;
  z-index: 1000;
}
.slider .slideInput {
  display: none;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 450px;
  perspective: 1000px;
  overflow: hidden;
}

@media (max-width: 899px) {
  .testimonials {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 699px) {
  .testimonials {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  .testimonials .item {
    max-width: 450px;
  }

  .inner_item {
    width: 450px;
    flex-direction: column;
  }

  .inner_item .sideImg {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    border-radius: 15px 0 0;
  }

  .inner_item .sideContent {
    width: 100%;
  }
}

.testimonials .item {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  height: 430px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
}

@media only screen and (max-width: 768px) {
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 10px;
  transition: transform 0.2s, color 0.2s;
}
/* First */
#t-1:checked ~ .dots label[for='t-1'] {
  transform: scale(2);
  background-color: #fff;
}
#t-1:checked ~ .dots label[for='t-2'] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for='t-1'] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for='t-2'] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 3;
}
#t-1:checked ~ .testimonials label[for='t-3'] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for='t-4'] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  z-index: 1;
}
#t-1:checked ~ .testimonials label[for='t-5'] {
  transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

#t-1:checked ~ .testimonials label[for='t-6'] {
  transform: translateX(1500px) translateZ(-450px) rotateY(-55deg);
}
/* Second */
#t-2:checked ~ .dots label[for='t-1'] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for='t-2'] {
  transform: scale(2);
  background-color: #fff;
}
#t-2:checked ~ .dots label[for='t-3'] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for='t-1'] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for='t-2'] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for='t-3'] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-2:checked ~ .testimonials label[for='t-4'] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 1;
}
#t-2:checked ~ .testimonials label[for='t-5'] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

#t-2:checked ~ .testimonials label[for='t-6'] {
  transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
  z-index: -1;
}

/* Third */
#t-3:checked ~ .dots label[for='t-2'] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for='t-3'] {
  transform: scale(2);
  background-color: #fff;
}
#t-3:checked ~ .dots label[for='t-4'] {
  transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for='t-1'] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for='t-2'] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for='t-3'] {
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for='t-4'] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-3:checked ~ .testimonials label[for='t-5'] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

#t-3:checked ~ .testimonials label[for='t-6'] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  z-index: -1;
}

/* Fourth */
#t-4:checked ~ .dots label[for='t-3'] {
  transform: scale(1.5);
}
#t-4:checked ~ .dots label[for='t-4'] {
  transform: scale(2);
  background-color: #fff;
}
#t-4:checked ~ .dots label[for='t-5'] {
  transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for='t-1'] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for='t-2'] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for='t-3'] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for='t-4'] {
  z-index: 3;
}
#t-4:checked ~ .testimonials label[for='t-5'] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

#t-4:checked ~ .testimonials label[for='t-6'] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: -1;
}

/* Fifth */
#t-5:checked ~ .dots label[for='t-4'] {
  transform: scale(1.5);
}
#t-5:checked ~ .dots label[for='t-5'] {
  transform: scale(2);
  background-color: #fff;
}

#t-5:checked ~ .dots label[for='t-6'] {
  transform: scale(1.5);
}
#t-5:checked ~ .testimonials label[for='t-1'] {
  transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for='t-2'] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for='t-3'] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for='t-4'] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 3;
}
#t-5:checked ~ .testimonials label[for='t-5'] {
  z-index: 4;
}

#t-5:checked ~ .testimonials label[for='t-6'] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 3;
}

/* Sixth */
#t-6:checked ~ .dots label[for='t-5'] {
  transform: scale(1.5);
}
#t-6:checked ~ .dots label[for='t-6'] {
  transform: scale(2);
  background-color: #fff;
}
#t-6:checked ~ .testimonials label[for='t-1'] {
  transform: translateX(-1200px) translateZ(-450px) rotateY(55deg);
}
#t-6:checked ~ .testimonials label[for='t-2'] {
  transform: translateX(-900px) translateZ(-360px) rotateY(45deg);
}
#t-6:checked ~ .testimonials label[for='t-3'] {
  transform: translateX(-600px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
#t-6:checked ~ .testimonials label[for='t-4'] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
#t-6:checked ~ .testimonials label[for='t-5'] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 3;
}

#t-6:checked ~ .testimonials label[for='t-6'] {
  z-index: 4;
}
